/* Contactus.css */
#fadeInEffect {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#fadeInEffect.show {
  opacity: 1;
}
#c{
  max-height:fit-content;
  position: relative;
  display: block;
  /* white-space: nowrap; */
  overflow: hidden;
  box-sizing: border-box;
  margin-top:4% ;
}
#ContactUs{
  display: block;
  font-family: 'Impact', sans-serif;
  white-space: nowrap;
  font-size: 4rem;
  overflow:hidden;
  position: relative;
  text-align: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  /* animation: slideText2 30s linear infinite; */
  color: #D1D5DB;
  /* background-color: #f45926; */
}

.contactform{
  background-color: #D1D5DB;
}
#c h1{
  color: #1F2937;
}

/* .covering{
  opacity:0.9
} */

@keyframes slideText2 {
  from {
      transform: translateX(0%);
  }
  to {
      transform: translateX(-50%);
  }
}


@media (max-width: 800px)  {
  .ContactUs{
      font-size: 4rem;
  }
}

@media (max-width: 480px)  {
  .ContactUs{
      font-size: 2rem;
  }
}